In [1]:
import selenium
import pandas as pd
from selenium import webdriver

# Solution No.1

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
url="https://www.naukri.com/"
driver.get(url)

In [4]:
#finding element for job title bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [5]:
#write on search bar
search_job.send_keys("Data Analyst")

In [6]:
#finding element for job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Banglore")

In [7]:
#do click using class_name function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
#Lets extract all tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [9]:
#putting the job titles in the list
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior/Regular Business Analyst / Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst',
 'Data Analyst']

In [10]:
#Lets extract all tags having the campnies names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [11]:
#putting the caomnies names in the list
companies_names=[]
for i in companies_tags:
    companies_names.append(i.text)
companies_names

['Inflexion Analytix Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'Luxoft',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited',
 'Udaan']

In [12]:
#Lets extract all tags having the experienc required
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [13]:
#putting the experienc required in the list
experience=[]
for i in experience_tags:
    experience.append(i.text)
experience

['0-3 Yrs',
 '0-5 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs']

In [14]:
#Lets extract all tags having the locations
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [15]:
#putting the locations in the list
locations=[]
for i in location_tags:
    locations.append(i.text)
locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
#verifying the length of each created list
print(len(job_titles),len(companies_names),len(experience),len(locations))

20 20 20 20

# Putting into a Dataframe

In [17]:
import pandas as pd
jobs=pd.DataFrame({})
jobs["Title"]=job_titles
jobs['company']=companies_names
jobs["experience required"]=experience
jobs["location"]=locations

In [18]:
jobs

,Title,company,experience required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
2,Data Analyst,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
3,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
4,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
5,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
6,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
7,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
9,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru
10,Data Analyst,Myntra Designs Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru
11,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
12,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
13,Senior/Regular Business Analyst / Data Analyst,Luxoft,3-6 Yrs,Bangalore/Bengaluru
14,Data Analyst,Flipkart Internet Private Limited,1-3 Yrs,Bangalore/Bengaluru
15,Data Analyst,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru
16,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-8 Yrs,"Mumbai, Bangalore/Bengaluru"
17,Data Analyst / Business Analyst -,LatentView Analytics Private Limited,1-5 Yrs,"Chennai, Bangalore/Bengaluru"
18,Business Data Analyst,ALSTOM India Limited,5-10 Yrs,Bangalore/Bengaluru
19,Data Analyst,Udaan,1-6 Yrs,Bangalore/Bengaluru

### -----End of Solution 1------

# Solution No. 2

In [19]:
#finding element for job title bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [20]:
#write on search bar
search_job.send_keys("Data Scientist")

In [21]:
#finding element for job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Banglore")

In [22]:
#do click using class_name function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [23]:
#Lets extract all tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [24]:
#putting the job titles in the list
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Senior Data Scientist - Credit risk',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist',
 'Senior Data Scientist - Kinara Capital',
 'Senior Data Scientist, Marketing Analytics',
 'Data Scientist',
 'Hiring For Lead data Scientist For Bangalore location',
 'Principal Data Scientist',
 'Lead Data Scientist /Sr. Data Scientist',
 'Data Scientist']

In [25]:
#Lets extract all tags having the campnies names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [26]:
#putting the caomnies names in the list
companies_names=[]
for i in companies_tags:
    companies_names.append(i.text)
companies_names

['Inflexion Analytix Private Limited',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'Gojek Tech',
 'GO-JEK India',
 'Kinara Financial Private Limited',
 'Kinara Financial Private Limited',
 'Hudsons Bay Company',
 'Applied Materials',
 'Societe Generale',
 'NetApp',
 'BDITDOMAIN',
 'TechKnowledgey Pte Ltd']

In [27]:
#Lets extract all tags having the locations
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [28]:
#putting the locations in the list
locations=[]
for i in location_tags:
    locations.append(i.text)
locations

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [29]:
jd_click=driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']")
jd_click.click()

In [30]:
jd_tag1=driver.find_element_by_xpath("//section[@class='job-desc']")
jd_tag1

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//section[@class='job-desc']"}
  (Session info: chrome=90.0.4430.212)

In [31]:
#getting error while extracting Job decription

In [32]:
import pandas as pd
jobs=pd.DataFrame({})
jobs["Title"]=job_titles
jobs['company']=companies_names
jobs["location"]=locations

In [33]:
jobs

,Title,company,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
2,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
3,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
4,Senior Data Scientist - Credit risk,Scienaptic Systems,Bangalore/Bengaluru
5,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ..."
6,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru
7,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru
8,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
10,Senior Data Scientist - Chatbot & NLP,Gojek Tech,Bangalore/Bengaluru
11,Senior Data Scientist - Chatbot & NLP,GO-JEK India,Bangalore/Bengaluru
12,Senior Data Scientist,Kinara Financial Private Limited,Bangalore/Bengaluru
13,Senior Data Scientist - Kinara Capital,Kinara Financial Private Limited,Bangalore/Bengaluru
14,"Senior Data Scientist, Marketing Analytics",Hudsons Bay Company,Bangalore/Bengaluru
15,Data Scientist,Applied Materials,Bangalore/Bengaluru
16,Hiring For Lead data Scientist For Bangalore l...,Societe Generale,Bangalore/Bengaluru
17,Principal Data Scientist,NetApp,Bangalore/Bengaluru
18,Lead Data Scientist /Sr. Data Scientist,BDITDOMAIN,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
19,Data Scientist,TechKnowledgey Pte Ltd,Bangalore/Bengaluru

---END of Solution 2---

# Tryied to fetch data from Glassdoor but they were asking for sign in before operating any code on it.