In [229]:
import pandas as pd
import numpy as np
from selenium import webdriver
import time
import 
from selenium.common.exceptions import NoSuchElementException

In [313]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [314]:
#scrapping Car Data from cars24.com

In [376]:
url1="https://www.cars24.com/buy-used-car?sort=P&search=HYUNDAI&storeCityId=8597&pinId=201301"
driver.get(url1)

In [377]:
ModelList=[]
brandList=[]
manufacturingYearList=[]
variantList=[]
KmDrivenList=[]
ownerList=[]
versionList=[]
priceList=[]
locationList=[]

In [378]:
def scrapData(location):
   
    #time.sleep(5)
    model=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/h2")
    for i in model:
        #print(i.text)
        str=i.text
        m1=str.split(" " ,2)
        model=str.split()[1]
        #print(m1[0])
        #print(m1[1])
        #print(m1[2])
        ModelList.append(m1[2])
        manufacturingYearList.append(m1[0])
        brandList.append(m1[1])

    variant=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p")
    for i in variant:
        #print(i.text)
        variantList.append(i.text)

    Km=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]")
    for i in Km:
        #print(i.text)
        str1=i.text
        str1=str1.split()[0] 
        str1=str1.replace(",","")
        #print(str1)
        str1=int(str1)
        #print(type(str1))
        KmDrivenList.append(str1)

    owner=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]")
    for i in owner:
        #print(i.text)
        ownerList.append(i.text)

    version=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]")
    for i in version:
        #print(i.text)
        versionList.append(i.text)  

    price=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]/span")
    for i in price:
        #print(i.text)
        str2=i.text
        str2=str2[1:]
        
        str2=str2.replace(",","")
        #print(str2)
        str1=int(str2)
        #print(type(str2))
    
        priceList.append(str2) 
        locationList.append(location)

In [379]:
scrapData("Noida")

In [380]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

356
356
356
356
356
356
356
356
356

In [381]:
url="https://www.cars24.com/buy-used-car?carName=RENAULT&sort=P&storeCityId=4709&pinId=560001"
driver.get(url)

In [382]:
scrapData("Bengaluru")

In [383]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

381
381
381
381
381
381
381
381
381

In [384]:
url="https://www.cars24.com/buy-used-car?carName=HYUNDAI&sort=P&storeCityId=3686&pinId=500001"
driver.get(url)

In [385]:
scrapData("Hyderabad")

In [386]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

497
497
497
497
497
497
497
497
497

In [387]:
url="https://www.cars24.com/buy-used-car?carName=TOYOTA&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [388]:
scrapData("Mumbai")

In [389]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

596
596
596
596
596
596
596
596
596

In [390]:
url="https://www.cars24.com/buy-used-maruti-cars-kolkata/"
driver.get(url)

In [391]:
scrapData("Kolkata")

In [392]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

1303
1303
1303
1303
1303
1303
1303
1303
1303

In [393]:
url="https://www.cars24.com/buy-used-hyundai-cars-kolkata/"
driver.get(url)

In [394]:
scrapData("Kolkata")

In [395]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

1601
1601
1601
1601
1601
1601
1601
1601
1601

In [396]:
url="https://www.cars24.com/buy-used-car?carName=MAHINDRA&sort=P&storeCityId=4709&pinId=560001"
driver.get(url)

In [397]:
scrapData("Bengaluru")

In [398]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

1620
1620
1620
1620
1620
1620
1620
1620
1620

In [399]:
url="https://www.cars24.com/buy-used-maruti-cars-bengaluru/"
driver.get(url)

In [400]:
scrapData("Bengaluru")

In [401]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

1998
1998
1998
1998
1998
1998
1998
1998
1998

In [402]:
url="https://www.cars24.com/buy-used-car?carName=MARUTI&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [403]:
scrapData("Mumbai")

In [404]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

2707
2707
2707
2707
2707
2707
2707
2707
2707

In [405]:
url='https://www.cars24.com/buy-used-maruti-cars-hyderabad/'
driver.get(url)

In [406]:
scrapData("Hyderabad")

In [407]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

2946
2946
2946
2946
2946
2946
2946
2946
2946

In [408]:
url="https://www.cars24.com/buy-used-car?carName=MARUTI&sort=P&search=MARUTI&storeCityId=8597&pinId=201301"
driver.get(url)

In [409]:
scrapData("Noida")

In [410]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

3859
3859
3859
3859
3859
3859
3859
3859
3859

In [411]:
url='https://www.cars24.com/buy-used-car?carName=HONDA&sort=P&search=HONDA&storeCityId=8597&pinId=560001'
driver.get(url)

In [412]:
scrapData("Bengaluru")

In [413]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

3889
3889
3889
3889
3889
3889
3889
3889
3889

In [414]:
url="https://www.cars24.com/buy-used-car?sort=P&search=MAHINDRA&storeCityId=2&pinId=110001"
driver.get(url)

In [415]:
scrapData("NewDelhi")

In [416]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

3963
3963
3963
3963
3963
3963
3963
3963
3963

In [417]:
url='https://www.cars24.com/buy-used-car?carName=TATA&sort=P&storeCityId=4709&pinId=560001'
driver.get(url)

In [418]:
scrapData("Bengaluru")

In [419]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

3985
3985
3985
3985
3985
3985
3985
3985
3985

In [420]:
url='https://www.cars24.com/buy-used-ford-cars-bengaluru/'
driver.get(url)

In [421]:
scrapData("Bengaluru")

In [422]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

4000
4000
4000
4000
4000
4000
4000
4000
4000

In [423]:
url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=1692&pinId=380001'
driver.get(url)

In [424]:
scrapData("Ahemadabaad")

In [425]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

4298
4298
4298
4298
4298
4298
4298
4298
4298

In [426]:
url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=2423&pinId=411001'
driver.get(url)

In [427]:
scrapData("Pune")

In [428]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

5609
5609
5609
5609
5609
5609
5609
5609
5609

In [431]:
df=pd.DataFrame({})
df['Brand']=brandList
df['Model']=ModelList

df['Year']=manufacturingYearList
df['Variant']=variantList
df['Location']=locationList
df['version']=versionList
df['Number of Owners']=ownerList
df['KmDriven']=KmDrivenList
df['Price']=priceList

In [432]:
df

,Brand,Model,Year,Variant,Location,version,Number of Owners,KmDriven,Price
0,Hyundai,VENUE,2021,S MT 1.2 KAPPA,Noida,Petrol,1st Owner,2589,807999
1,Hyundai,Grand i10,2014,ASTA 1.2 AT VTVT Automatic,Noida,Petrol,1st Owner,26779,420000
2,Hyundai,Grand i10,2017,MAGNA 1.2 KAPPA VTVT Manual,Noida,Petrol,1st Owner,9249,442199
3,Hyundai,Elite i20,2018,Magna Executive 1.2 Manual,Noida,Petrol,1st Owner,5937,577399
4,Hyundai,i20,2013,ERA 1.4 CRDI Manual,Noida,Diesel,1st Owner,32281,318699
...,...,...,...,...,...,...,...,...,...
5604,Maruti,Ertiga,2015,VDI ABS Manual,Pune,Diesel,1st Owner,88216,596699
5605,Hyundai,i20,2013,SPORTZ 1.2 VTVT Manual,Pune,Petrol,1st Owner,113370,329699
5606,Hyundai,Creta,2015,1.6 SX (O) CRDI,Pune,Diesel,1st Owner,99645,782299
5607,Honda,Mobilio,2015,1.5 V I VTEC Manual,Pune,Petrol + CNG,1st Owner,108687,505199
5608,Skoda,Superb,2009,ELEGANCE 1.8 TSI AT Automatic,Pune,Petrol,1st Owner,103426,253399

In [433]:
df.to_csv("CarPredictionData")